$grid-breakpoints: (
    xs: 0,
    sm: 500px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    new-xs: 320px // Nuevo breakpoint para dispositivos extra pequeños
);

$container-max-widths: (
    new-xs: 325px,
    sm: 470px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);

/*Se define todo antes de importar*/
@import "../libs/bootstrap-5.2.3/scss/bootstrap.scss";
